<div class="setting_title setting_thanks_message setting_messages">
	<span class="setting_thanks_message editable" showtool="thanks_message" contenteditable="true"><%=@application.setting.thanks_message_value%></span> 3:14, 
	<span class="setting_best_time_message editable" showtool="best_time_message" contenteditable="true"><%=@application.setting.best_time_message_value%></span> 2:58<span class="setting_best_time_optional_message editable" showtool="best_time_optional_message" contenteditable="true"><%=@application.setting.best_time_optional_message_value%></span>, 
	<span class="setting_position_message editable" showtool="position_message" contenteditable="true"><%=@application.setting.position_message_value%></span> 3 <br />
	
	
	<a href="javascript:void(0)" class="editable setting_play_again_link" showtool="play_again_link" contenteditable><%=@application.setting.play_again_link_value%></a> | 
	<a href="javascript:void(0)" class="editable setting_share_link" showtool="share_link" contenteditable><%=@application.setting.share_link_value%></a>
</div>