<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div class="container-fluid">
	<div class="col-md-4">
		<h1 class="page-header">Likes by Page</h1>
		<% @results_likes.each do |like| %>
		<p class="h5">Page ID: <a href="<%= url_for(action: :likes_by_page, identifier: like['_id']['page_id'])%>"><%= like['_id']['page_id'] %></a> / <small><span class="text-success"><%= like['likes'] %> likes</span></small></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Post</th>
				</tr>
			</thead>
			<tbody>
				<% like['likers'].each do |liker| %>
				<tr>
					<td><%= liker['user_name'] %></td>
					<td><a href="https://facebook.com/<%= like['_id']['page_id'] %>/posts/<%= liker['post_id'] %>" target="_blank">Post</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
	<div class="col-md-4">
		<h1 class="page-header">Comments by Page</h1>
		<% @results_comments.each do |comment| %>
		<p class="h5">Page ID: <%= comment['_id']['page_id'] %> / <small><span class="text-success"><%= comment['comments'] %> comments</span></small></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<% comment['commenters'].each do |commenter| %>
				<tr>
					<td><%= commenter['user_name'] %></td>
					<td><a href="https://facebook.com/<%= comment['_id']['page_id'] %>/posts/<%= commenter['post_id'] %>" target="_blank">Post</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</div>