<tr>
	<td>
		<label><%=t :pz_play_many_times%></label>
	</td>
	<td>
		<%= check_box :setting, :play_many_times_value, {}, "yes", "no" %>
		<span><%=t :pz_play_many_times_comment%></span>
	</td>
</tr>

<tr class="not_visible_in_window">
	<td>
		<label><%=t :mm_hide_scores%></label>
	</td>
	<td>
		<%= check_box :setting, :show_score, {}, "yes", "no" %>
		<span><%=t :mm_hide_scores_explain%></span>
	</td>
</tr>

<tr class="not_visible_in_window">
	<td>
		<label><%=t :pz_show_preview%></label>
	</td>
	<td>
		<%= check_box :setting, :show_preview_value, {}, "yes", "no" %>
		<span><%=t :pz_show_preview_explain%></span>
	</td>
</tr>