<!-- <table>
	<colgroup>
		<col style="width: 40%">
		<col style="width: 30%">
		<col style="width: 29%">
		<col style="width: 1%">
	</colgroup>
	<thead total="<%=@table_total_entries%>">
		<tr>
			<th><%=table_sort_link(t(:name), :name, :ajax)%></th>
			<th><%=t :status%></th>
			<th></th>
			<th>
				<input type="checkbox" />
			</th>
		</tr>
	</thead>
	<tbody id="table_body">
		<%= render :partial => "./puzzles_table_entries" %>
	</tbody>
	<tfoot id="table_footer">
		<%= render :partial => "applications/backend_embeds/default_table_footer" %>
	</tfoot>	
</table> -->
<table class="table ita-table ita-table-body-align-middle">
	<colgroup>
		<col style="width: 40%"></col>
		<col style="width: 55%"></col>
		<col style="width: 5%"></col>
	</colgroup>
	<thead>
		<tr>
			<th>Name</th>
			<th>First entry</th>
			<th class="text-right">
				<div class="checkbox checkbox-info">
					<input type="checkbox" id="checkbox-header">
					<label for="checkbox-header"></label>
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => "./puzzles_table_entries" %>
	</tbody>
</table>