<% for user_summary in @table_entries %>
	<tr id="table_row_<%=user_summary.user_id%>">
		<%= render :partial => "users/column_content_on_table", :locals => {:user => user_summary.user}%>
		<td>
			<div class="media">
				<div class="bd">
					<div class="time"><%=time_ago_in_words(user_summary.created_on)%></div>
				</div>
			</div>
		</td>
		<td>
			<a href="<%=url_for :action => :user_results_window, :user_id => user_summary.user.id%>" class="toModal score"><%=user_summary.total_entries%></a>
		</td>
		<td>
			<a href="<%=url_for :action => :user_results_window, :user_id => user_summary.user.id%>" class="toModal score"><%=Time.at(user_summary.average_time).utc.strftime("%H:%M:%S")%></a>
		</td>
		<% if @application.setting.generic_form_enabled == 'yes'%>
		<td>
			<% unless @application.generic_form.entries.find_by_user_id(user_summary.user.id).nil? %>
			<a href="<%=url_for :action => :generic_entries_user_window, :user_id => user_summary.user.id%>" class="toModal"><%=t :generic_form_answers %></a>
			<% end %>
		</td>
		<% end %>
		<td><input type="checkbox" class="table_checkbox" name="selected_user[]" value="<%=user_summary.user.id%>"></td>
	</tr>
<% end %>
