<div class="table">
	<%= render :partial => "applications/backend_embeds/table_form_header", :locals => {:title => t(:pz_settings)} %>
	<%= render :partial => "applications/backend_embeds/configuration_menu" %>
	<div class="views">
		<div class="view">
			<div class="content fauxtable">
				<div class="centered">
					<%= form_tag({:action => :configuration_puzzles_update}, {:multipart => true, :remote => true, :class => 'form', :id => "configuration_info"})  do %>
						<fieldset>
							<table>
								<%= render :partial => "./installation_window" %>
							</table>
						</fieldset>
						<div class="center">
							<input type="submit" value="<%= t :save %>" data-submit-for-id="configuration_info" class="guardar">
						</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>