<script>
	$(document).ready(function(){
		$('#puzzle_image').on('change', function(){
			var file = this.files[0];
			var target = $('#new_puzzle_image img');
			showThumbnail(file, target, function(){
				$('#new_puzzle_image').show();
			});
		});
	});
</script>
<% form_for @puzzle, :url => {:action => :puzzles_new}, :remote => true, :html => {:class => "form", :multipart => true} do |f| %>
<fieldset>
	<table>
		<colgroup>
			<col style="width:35%" />
			<col style="width:75%" />
		</colgroup>
		<tr>
			<td><%= label :puzzle, :name, t(:name) %></td>
			<td><%= text_field :puzzle, :name %></td>
		</tr>
		<tr>
			<td><label><%=t :pz_pieces%></label></td>
			<td>
				<%= select :puzzle, :pieces, [[12], [20], [30], [42], [56]] %>
			</td>
		</tr>
		<tr>
			<td><label><%=t :pz_active_puzzle%></label></td>
			<td>
				<%= check_box :puzzle, :active, {:checked => true} %>
				<span><%=t :pz_active_puzzle_hint%></span>
			</td>
		</tr>
		<tr>
			<td><label><%=t :image%></label></td>
			<td>
				<div id="new_puzzle_image" style="
				display: none;
				width: 50%;
				float: left;
				margin-right: 1%;
				margin-bottom: 2%;
				" class="media photo">
					<div class="img" style="width: 100%;">
						<img style="width: 100%;" src="" alt="" />
					</div>
				</div>
				<div class="clear"></div>
				<%#= upload_column_field :puzzle, :image, {:title => t(:select)} %>
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><div class="center"><%= f.submit t(:save) %></div></td>
		</tr>
	</table>
</fieldset>
<% end %>