<div class="table nomaster <%="empty" if @table_entries.length ==0 %>">
	<div class="tableheader">
		<div class="viewHeader">
			<%= search_form(url_for(:action => :results), params[:search_query], {:checksum => @application.checksum}, :ajax)%>
			<div class="title"><%=t :pz_users_answers %></div>
			<div class="options" id="options_for_normal_users">
				<%= delete_link(t(:delete), {:action => :entries_delete}, true, :users) %>
				<%= add_to_group_link(:users) %>
				<%= export_link(url_for(:action => :export_entries_to_xls), :users) %>
				<%= random_link(t(:random_between_users), {:controller => :users, :action => :get_random}, true, :users) %>
			</div>
		</div>
	</div>
	<div class="views">
		<div class="view">
			<div class="content full" id="table_container">
				<%if @table_entries.length ==0 %>
					<%=render :partial => "applications/backend_embeds/empty_table", :locals => {:text => t(:pz_no_results_yet)} %>
				<%else%>
					<%= render :partial => "./results_table" %>
				<%end%>
			</div>
		</div>
	</div>
</div>