<div class="table">
	<table>
		<thead>
			<tr>
				<th></th>
				<th><%=t(:pz_total_puzzles_solved)%></th>
				<th><%=t(:pz_average_time)%></th>
			</tr>			
		</thead>
		<tbody>
			<tr>
				<%= render :partial => "users/column_content_on_table", :locals => {:user => @user}%>
				<td><%=@user_summary.total_entries%></td>
				<td><%=Time.at(@user_summary.average_time).utc.strftime("%H:%M:%S")%></td>				
			</tr>			
		</tbody>
	</table>
</div>
<div class="table">
	<table>
		<thead>
			<tr>
				<th><%=t(:pz_total_puzzles_solved)%></th>
				<th><%=t(:pz_time)%></th>
			</tr>
		</thead>
		<tbody>
			<% for entry in @entries %>
			<tr>				
				<td>
					<div class="media photo">
						<a href="javascript:void(0);" class="img"><%=image_tag("#{entry.puzzle.image.backend}")%></a>
						<div class="bd">
							<a href="javascript:void(0);" class="name"><%=entry.puzzle.name%></a>
						</div>
					</div>
				</td>
				<td>
					<%=Time.at(entry.time).utc.strftime("%H:%M:%S")%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
